**/bin/Debug
**/bin/Release

**/obj/Debug
**/obj/Release

**/x86/Debug
**/x86/Release
**/x86/x86

**/obj/x86

*.suo

**/packages/

Source/EXTERNAL/**

**/bin/x86/


*.user
*.targets

ProfileReports

.idea

bin/**/
obj/**/
*.lock