<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">
    <extensions>
        <add assembly="NLog.Targets.ElasticSearch" />
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets>
        <target name="elastic" xsi:type="AsyncWrapper">
            <target xsi:type="ElasticSearch" index="gitlab-bot-${date:format=yyyy-MM}" layout="${message}  ${exception:format=tostring}" uri="http://rabbitmq.ufntc.lo:9200">
                <field name="logger" layout="${logger}"/>
            </target>
        </target>
        <target xsi:type="File"
            name="file"
            fileName="${basedir}/logs/${shortdate}.log"
            archiveFileName="${basedir}/logs/archives/log.info.${shortdate}.txt"
            archiveAboveSize="1048576"
            archiveEvery="Day"
            archiveNumbering = "Rolling"
            maxArchiveFiles="7"
            concurrentWrites="false"
            layout="${longdate} | ${logger} | ${uppercase:${level}} | ${message}  ${exception:format=tostring}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="file, elastic" />
    </rules>
</nlog>